/* * {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #c1b5ad;
} */

#app {
	display: flex;
	font-family: 'Righteous';
}

#map {
	flex: 5;
	height: calc(100vh - 3rem);
	overflow: hidden;
}

aside {
	flex: 1;
	display: flex;
	flex-direction: column;
	z-index: 2;
}
/* canvas {
	position: absolute;
	width: calc(100vh - 3rem);
} */

body {
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* #map {
  position: absolute;
  width: 100%;
  height: 100%;
} */

svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.btn {
	margin-bottom: 1rem !important;
	font-family: 'Righteous' !important;
}

h1 {
	text-align: center;
	font-family: 'Lobster Two';
	font-style: italic;
}

.legend-parent {
	display: flex;
	flex-direction: column;
}
.legend-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}
.legend-dots {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 1rem;
}
