* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #c1b5ad;
}

/* h1 {
	margin: 0;
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-size: 2rem;
} */

#app {
	display: flex;
}

#map {
	flex: 2;
	height: calc(100vh - 3rem);
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	#app {
		flex-direction: column;
	}
	#map {
		margin: 0 1rem;
		height: 75vh;
	}
}
